*{
    background-color: #35363a;
    color: white;
}

label{
    font-size: 26px;
}
.container{
    text-align: center;
    margin-top: 200px;
}

input{
    border-color: #5c16c5;
    border: 5px solid #5c16c5;
    font-size: 20px;
}

.button{
    background-color: #5c16c5;
    color: white;
    height: auto;
    width: 200px;
    border: none;
    padding: 10px;
    border-radius: 10px;
}